.detail {
    width: 100%;
    min-height: 100vh;
    // background-color: green;
    display: flex;
    align-items: center;
    .detailLeft {
        width: 60%;
        min-height: 100vh;
        // background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            object-position: center;
        }
    }
    .detailRight {
        width: 40%;
        height: 500px;
        // background-color: yellow;
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;
        .name {
            font-size: 80px;
            font-family:
                system-ui,
                -apple-system,
                "Segoe UI",
                "Open Sans",
                "Helvetica Neue",
                sans-serif;
            font-weight: 700;

        }
        .country {
            font-size: 40px;
            font-family:
                system-ui,
                -apple-system,
                "Segoe UI",
                "Open Sans",
                "Helvetica Neue",
                sans-serif;
            font-weight: 600;


        }
        .delivery{
            font-size: 40px;
            font-family:
            system-ui,
            -apple-system,
            "Segoe UI",
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
            font-weight: 600;


        }
        .model{
            font-size: 40px;
            font-family:
            system-ui,
            -apple-system,
            "Segoe UI",
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
            font-weight: 600;

        }
    }
}
